<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!-- Staff bean definition -->
    <bean id="staffObj" class="com.spring.app.Staff">
        <constructor-arg index="0" value="1"/>
        <constructor-arg index="1" value="Ragul"/>
        <constructor-arg index="2" value="CSE"/>
        <constructor-arg index="3" value="9445543300"/>
    </bean>
    
    <!-- Department bean definition with constructor injection -->
    <bean id="departmentObj" class="com.spring.app.Department">
        <constructor-arg index="0" value="123"/>
        <constructor-arg index="1">
            <list>
                <ref bean="staffObj"/>
            </list>
        </constructor-arg>
    </bean>
</beans>